.folder,
.file {
  padding: 0 0.4rem;
  cursor: pointer;
}

.folder:hover,
.file:hover {
  background-color: #cdcdcd;
  width: fit-content;
}

.icon {
  padding-right: 0.5rem;
}

.children {
  padding-left: 2rem;
}

.context-menu {
  font-size: 0.8rem;
  position: absolute;
  width: 200px;
  background-color: #383838;
  border-radius: 5px;
  box-sizing: border-box;
}

.context-menu ul {
  box-sizing: border-box;
  padding: 0.25rem;
  margin: 0;
  list-style: none;
  color: white;
}
.context-menu ul li {
  padding: 8px 16px;
}
/* hover */
.context-menu ul li:hover {
  cursor: pointer;
  background-color: #000000;
}

.active {
  width: fit-content;
  padding: 0.25rem;
  background-color: aquamarine;
  border-radius: 5px;
}
