.folder {
  cursor: pointer;
}

.folder-img {
  padding-right: 0.5rem;
}

.children {
  padding-left: 2rem;
}

.context-menu {
  position: absolute;
  width: 200px;
  background-color: #383838;
  border-radius: 5px;
  box-sizing: border-box;
}

.context-menu ul {
  box-sizing: border-box;
  padding: 1rem;
  margin: 0;
  list-style: none;
  color: white;
}
.context-menu ul li {
  padding: 18px 12px;
}
/* hover */
.context-menu ul li:hover {
  cursor: pointer;
  background-color: #000000;
}

.active {
  width: fit-content;
  padding: 0.25rem;
  background-color: aquamarine;
  border-radius: 5px;
}
